.custom-dropdown .dropdown-menu {
  background-color: #0f1535 !important;
  border: 1px solid #4e556d;
  border-radius: 20px;
  margin-top: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  border-radius: 20px;
  height: 70px;
  padding-left: 20px;
  outline: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #242b4d;
}
.button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2440;
  border-radius: 15px;
  width: 50px;
  height: 50px;
}

.button:hover > div {
  background-color: #582cff;
}
.icon {
  color: #582cff;
}
.button:hover .icon {
  color: #1e2440;
}

::-webkit-scrollbar {
  width: 5px;
  opacity: 0;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a1a7d1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #090d2d57;
}
::-webkit-scrollbar:hover,
::-webkit-scrollbar:active {
  opacity: 1;
}
.taskbtn1 {
  font-size: 15px;
  min-height: 7vh;
  width: 155px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #9d5aff;
  border: none;
}
.taskbtn1:hover {
  background-color: #5e369b;
}
.taskbtn2 {
  font-size: 15px;
  width: 150px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
.taskbtn2:hover {
  background-color: #9d5aff;
  color: white;
  border: #9d5aff;
}
.add-task-button {
  position: fixed;
  bottom: 40px;
  right: 70px;
  background-color: #09b392;
  color: white;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.signUpInput {
  color: white;
  font-size: 15px;
  font-weight: 400;
  background-color: #131536ce !important;
  border: 3px groove #a0a0a0;
  border-radius: 20px;
  height: 9vh;
  width: 30vw !important;
}
.signUpInput::placeholder {
  color: #a0a0a0 !important;
  font-weight: 100;
  letter-spacing: 2px;
}
.signUpInput::selection {
  background-color: #18191f9a !important;
}

.updateProf {
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #3b157988;
  height: 90vh;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  width: 35vw;
  border: 2px solid #787ea3;
  text-align: center;
}

.updateProf .modal-header {
  background-color: transparent;
  color: white;
  border-bottom: 2px solid black;
}
.updateProf .modal-body {
  background-color: #3b157988;
  color: white;
  border-bottom: 2px solid black;
}

.modall {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #3b157988;
  height: 90vh;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  width: 35vw;
  border: 2px solid #787ea3;
  text-align: center;
  overflow-y: auto;
}
.modall.show {
  display: inline-block;
}
.modall ::placeholder {
  color: #a0a0a0 !important;
  font-weight: 100;
  letter-spacing: 2px;
}
.invitemodall {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #3b157988;
  height: 50vh;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  width: 40vw;
  border: 2px solid #787ea3;
  text-align: center;
  overflow-y: auto;
}
.invitemodall.show {
  display: inline-block;
}
.invitemodall ::placeholder {
  color: #a0a0a0 !important;
  font-weight: 100;
  letter-spacing: 2px;
}
.signbtn {
  width: 40%;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  border-radius: 20px;
  background-color: #6c00c4 !important;
  border: none;
  border: 2px groove #a0a0a0;
}

.profbtn1 {
  background-color: #09b392;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  min-height: 8vh;
  border-radius: 10px;
  margin-right: 50px;
  border: none;
}
.signUpBtn:active,
.signUpBtn:focus {
  width: 40%;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  border-radius: 20px;
  background-color: #6c00c4 !important;
  border: none;
  border: 2px groove #a0a0a0;
  height: 10px !important;
}
.signbtn:hover {
  background-color: #410075 !important;
}

.modalContent {
  margin-top: 30px;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
}
#title::placeholder {
  color: #a0a0a0 !important;
  font-weight: 100;
  letter-spacing: 2px;
}
.modalContent input {
  width: 100%;
  height: 9vh;
  background-color: #131536;
  border: 2px solid #a0a0a0;
  border-radius: 20px;
  padding-left: 20px;
  color: white;
}
.expenseForm {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 30px;
  gap: 30px;
  align-items: center;
}
.expenseForm input {
  width: 60%;
  height: 9vh;
  background-color: #1e2053;
  border: 2px outset #a0a0a0;
  border-radius: 20px;
  padding-left: 20px;
  color: white;
}
.expenseForm input::placeholder {
  color: #a0a0a0 !important;
  font-weight: 100;
  letter-spacing: 2px;
}
.modalContent textarea {
  width: 100%;
  height: 20vh;
  background-color: #131536;
  border: 2px solid #a0a0a0;
  border-radius: 20px;
  padding-left: 20px;
  color: white;
}
.expensefilter {
  padding: 8px;
  border-radius: 10px;
  width: 15vw;
  color: #080d2a;
  font-weight: bold;
  background-color: #c8b9d4;
}
.btn1 {
  background-color: #09b392;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}
.btn1:hover {
  background-color: #07755f;
  border: none;
}
.btn2 {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #09b392;
  color: #09b392;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
}

.btn2:hover {
  background-color: #09b392;
  color: white;
}
.modall.show {
  display: inline-block;
}
.modall h2 {
  color: white;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}
.modall h4 {
  font-size: 15px;
  color: rgb(170, 169, 169);
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
}

.category-buttons button {
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.category-buttons button.selected {
  background-color: #004080;
}

.modall button {
  margin-top: 10px;
}

.date-navigation {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
}

.date-item {
  width: 60px;
  height: 65px;
  border: 1px solid white;
  background-color: rgba(100, 0, 109, 0.363);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.date-item.selected {
  background-color: #080d2a;
  color: white;
  font-weight: bold;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}

.header-left {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.notification-icon {
  font-size: 20px;
  margin-left: 10px;
}

.header-center {
  flex-grow: 1;
  text-align: center;
}

.header-title {
  font-size: 24px;
  margin: 0;
}

.header-date {
  font-size: 18px;
  color: blue;
}

.header-right {
  display: flex;
  align-items: center;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.task-item {
  background-color: #7648f565 !important;
  padding: 15px 40px !important;
  border: 1px solid white;
  color: white;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-icon {
  font-size: 24px;
  margin-right: 10px;
}

.task-details {
  flex-grow: 1;
}
.status {
  margin-right: 30px;
  background-color: transparent;
  font-weight: bold;
  padding: 5px 20px !important;
  border-radius: 5px;
  font-size: 20px !important;
  color: #09b392;
  border: 1px solid #09b392;
}
.status:hover {
  background-color: #09b392;
  color: white;
}
.task-time {
  margin-right: 10px;
  background-color: #09b392 !important;
  color: white;
  font-weight: bold;
  padding: 5px 20px !important;
  border-radius: 5px;
  font-size: 20px !important;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: red;
}

.task-item {
  background-color: #e3f2fd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.task-icon {
  font-size: 24px;
  margin-right: 10px;
}

.task-details {
  flex-grow: 1;
}

.task-time {
  background-color: #1976d2;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.react-calendar {
  background-color: #3b157988;
  height: 60vh;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  width: 35vw !important;
  border: 2px outset #787ea3;
  border-radius: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
}

.react-calendar__tile--hasActive {
  background: #613dc1;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background-color: red;
}
.event-marked {
  background-color: #613dc1 !important;
  border-radius: 5px;
  color: white;
}
.calendar-event {
  margin-top: 0px;
}
.calendar-event:focus {
  background-color: #aaa !important;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}
.calendar-btn {
  background-color: #613dc1;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.calendar-btn:hover {
  background-color: #442a8d;
}

.event-list {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 8px;
  margin-top: 20px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.event-list div {
  padding: 10px;
  border-bottom: 1px solid #e9ecef;
}

.event-list div:last-child {
  border-bottom: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
}
